!! -*- mode: text; indent-tabs-mode: nil; tab-width: 2; -*-
!read language lang/names

!header

<div>
	$module_title est un module d'exercices portant sur $description 
</div>

!form new
	<input type="hidden" name="module" value=$module>
	<label for="choix_fichier">Choisissez un exercice du module :</label>
	<select id="choix_fichier" name="fname">
		<option value="data1.txt">Titre de data1.txt</option>
		<option value="data2.txt">Titre de data2.txt</option>
	</select>
	<div style="center">
		<input type="submit" value="Au travail">
	</div> 
</form>

!tail
