!! -*- mode: text; indent-tabs-mode: nil; tab-width: 2; -*-
!read language lang/names
!header

!! La présentation de l'exercice.
!read present.phtml

!if $status=waiting
  !if $error!=$empty
    <div class="wims_msg warning">
    !read msg.phtml
    </div>
  !endif
  !! Le formulaire de réponse
  !read form.phtml
  <p>
  !set wims_ref_class=wims_button wims_secondary_button
  !href exo_Renew
  </p>
!else
  !if $error!=$empty
    <div class="wims_msg warning">
    !read msg.phtml
    </div>
  !endif
  !! L'analyse de réponse
  !read answer.phtml
  <p>
  !set wims_ref_class=wims_button
  !href exo_Again

  !if $worksheet=$empty
    &nbsp;
    !set wims_ref_class=wims_button
    !href exo_Intro
  !endif
  </p>
!endif

:end
!tail
